.loading-indicator {
    height: 333px;
    width: 300px;
    text-align: center;
    background: url('../images/version/creamnote_loading_write.gif' );
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 28px;
    color: rgb(21, 148, 207);
    font-family: '华文琥珀';
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
